<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<body>
    <h1>模板a</h1>
    <p class="a">hello world</p>
    <p class="b">this is red 1123 123 123</p>
    <h2 class="demoHeaders">Datepicker</h2>
    <div id="datepicker"></div>
    <div id="editor">
      <p>欢迎使用 wangEditor 文本编辑器</p>
    </div>
    <video class="video-js vjs-default-skin gaia" id="my-player1" width="1220" height="785" style="float: left;">
      <source src="http://playertest.longtailvideo.com/adaptive/bipbop/gear4/prog_index.m3u8" type="application/x-mpegURL">
    </video>
    <video class="video-js vjs-default-skin gaia" id="my-player2" width="1220" height="785" style="float: left;">
      <source src="http://playertest.longtailvideo.com/adaptive/bipbop/gear4/prog_index.m3u8" type="application/x-mpegURL">
    </video>
    <button id="btn">play</button>
    <button th:text="XXX"></button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div th:replace="components/footer"></div>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/6.7.3/video.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.14.1/videojs-contrib-hls.min.js"></script>
</body>
</html>
