<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="css/footer.css">
</head>
<body>
  <div id="footer">
    <p class="title">声明</p>
    <p>Gaia平台所有用户内容之版权归原作者所有，任何商业用途均需取得授权；若未经授权将内容盗取或用作他处，原作者将保留追究侵权者法律责任之权利</p>
    <p>Gaiamount鼓励原创，请勿上传任何侵犯他人权利或违反相关法律法规之内容</p>
    <hr>
    <p>Copyright&copy;2016Gaiamount版权所有</p>
    <p>粤ICP备06032157号-2 &amp;</p>
  </div>
</body>
</html>
